.outerWrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100%;
  overflow: hidden;
}
.bgImageWrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: url("./assets/MomsImage.png") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}
.Crystals200 {
 opacity: 1;
 scale: 1;
  }
  .paragraphBlock {
    opacity: 1;
  }
@media (max-width: 628px) {
  .bgImageWrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: url("./assets/Trio266x424.webp") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;

  }
}


.PergolaWorld {
  box-shadow: 2px 2px 2px 0px #000000;
}

.PergolaWorld {
  animation: Pworld 10s ease infinite;
}

@keyframes Pworld {
  0% {
    background-color: black;
    color: white;
  }
  50% {
    background-color: #e4b561;
    color: black;
  }
  100% {
    background-color: black;
    color: white;
  }
}

 

@media screen  and (max-width: 928px) and (max-height: 460px) and (orientation: landscape) {
  .Crystals200Wrapper {
    display: none;
  }

}
 
 .pleaseWait {
  color: rgb(114, 18, 18);
    position: absolute;
    font-size: 2rem;
    color: #32cd32;
    text-shadow: 0.8px 0.8px 0.8px black;
  }

 .fancyParagraph {
  color: black;
  text-shadow: 1.2px 1.2px 1.2px #e2b25b;
}